header.mdl-layout__header
  .mdl-layout__header-row
    a.header-home(href='/')
      span.mdl-layout-title #{sitename}
    .mdl-layout-spacer
    .mdl-navigation.mdl-layout--large-screen-only
      nav.mdl-navigation
        a.mdl-navigation__link.nav-icons(href='/network/map')
          i.material-icons map
        a.mdl-navigation__link.nav-icons(href='/network/patch')
          i.material-icons view_comfy
        a.mdl-navigation__link.nav-icons(href='/network/aps')
          i.material-icons wifi
        a.mdl-navigation__link.nav-icons(href='/misc')
          i.material-icons assessment
//        a.mdl-navigation__link.nav-icons(href='/computers')
//          i.material-icons desktop_windows
//        a.mdl-navigation__link.nav-icons(href='/servers')
//          i.material-icons domain
//        a.mdl-navigation__link.nav-icons(href='/phone')
//          i.material-icons phone
.mdl-layout__drawer
  span.mdl-layout-title #{sitename}
  nav.mdl-navigation
    a.mdl-navigation__link(href='/network/map') Network Map
    a.mdl-navigation__link(href='/netork/patch') Patch Panels
    a.mdl-navigation__link(href='/netork/aps') Wireless Access Points
    a.mdl-navigation__link(href='/misc') Miscellaneous
//    a.mdl-navigation__link(href='/computers') Computers
//    a.mdl-navigation__link(href='/servers') Servers
//    a.mdl-navigation__link(href='/phone') Phone
