header.mdl-layout__header
  .mdl-layout__header-row
    span.mdl-layout-title #{sitename}
    .mdl-layout-spacer
    .mdl-navigation.mdl-layout--large-screen-only
      nav.mdl-navigation
        a.mdl-navigation__link(href='/network') Network
        a.mdl-navigation__link(href='/phone') Phone
        a.mdl-navigation__link(href='/misc') Miscellaneous
.mdl-layout__drawer
  span.mdl-layout-title #{sitename}
  nav.mdl-navigation
    a.mdl-navigation__link(href='/network') Network
    a.mdl-navigation__link(href='/phone') Phone
    a.mdl-navigation__link(href='/misc') Miscellaneous
