extends layout.jade

block content
  .card.card__error.mdl-card.mdl-shadow--4dp
    .mdl-card__title
      h2.mdl-card__title-text #{title}
    .mdl-card__supporting-text
      | #{message}
    .mdl-card__actions
      a.mdl-button.mdl-js-button.mdl-button--primary(href='/') Got it
