extends layout.jade

block content
  .card2.mdl-card.mdl-shadow--4dp
    .mdl-card__title.mdl-card--expand
      h4 Network Map
    .mdl-card__actions.mdl-card--border
      a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(href='network/map') Details
      .mdl-layout-spacer
      i.material-icons map
  .card2.mdl-card.mdl-shadow--4dp
    .mdl-card__title.mdl-card--expand
      h4 Patch Panels
    .mdl-card__actions.mdl-card--border
      a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(href='network/patch') Details
      .mdl-layout-spacer
      i.material-icons view_comfy
  .card2.mdl-card.mdl-shadow--4dp
    .mdl-card__title.mdl-card--expand
      h4 Wireless Access Points
    .mdl-card__actions.mdl-card--border
      a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(href='network/aps') Details
      .mdl-layout-spacer
      i.material-icons wifi
  .card2.mdl-card.mdl-shadow--4dp
    .mdl-card__title.mdl-card--expand
      h4 Computers
    .mdl-card__actions.mdl-card--border
      a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(href='computers') Details
      .mdl-layout-spacer
      i.material-icons desktop_windows
  .card2.mdl-card.mdl-shadow--4dp
    .mdl-card__title.mdl-card--expand
      h4 Servers
    .mdl-card__actions.mdl-card--border
      a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(href='servers') Details
      .mdl-layout-spacer
      i.material-icons domain
  .card2.mdl-card.mdl-shadow--4dp
    .mdl-card__title.mdl-card--expand
      h4 Phones
    .mdl-card__actions.mdl-card--border
      a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(href='phones') Details
      .mdl-layout-spacer
      i.material-icons phone
  .card2.mdl-card.mdl-shadow--4dp
    .mdl-card__title.mdl-card--expand
      h4 Miscellaneous
    .mdl-card__actions.mdl-card--border
      a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(href='misc') Details
      .mdl-layout-spacer
      i.material-icons assessment
