.card.mdl-card.mdl-shadow--2dp
  .mdl-card__title
    h2.mdl-card__title-text Recent login attempts
  .mdl-card__supporting-text
    ul
      li Bob
      li Nancy
      li Ben
  .mdl-card__actions
    a.mdl-button.mdl-js-button.mdl-button--primary(href='#') Full Report
