doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title #{sitename}
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet" type="text/css" href="/css/vendor/material.min.css")
    link(rel="stylesheet" href="/font-awesome/css/font-awesome.min.css")
    script(src='/js/material.min.js')
    link(rel="stylesheet" type="text/css" href="/css/style.css")
  body
    .mdl-layout.mdl-js-layout.mdl-layout--fixed-header.mdl-layout--fixed-tabs
      include partials/header
      main.mdl-layout__content
        .page-content
          block content
      footer
        script(src="/js/smooth-scroll.min.js")
        script.
        smoothScroll.init({
            speed: 750,
            easing: 'easeInOutQuad',
            updateURL: false,
            offset: 8
          })
