extends layout.jade

block content
  .card.card__switches.mdl-card.mdl-shadow--4dp
    .mdl-card__title
      h2.mdl-card__title-text NATO Alphabet
    .mdl-card__supporting-text
      | The North Atlantic Treaty Organization's phonetic alphabet
    .mdl-card__actions
      a.mdl-button.mdl-js-button.mdl-button--primary(href='misc/nato') Details
  .card.card__patchpanels.mdl-card.mdl-shadow--4dp
    .mdl-card__title
      h2.mdl-card__title-text Network Drive Map
    .mdl-card__supporting-text
      | Documentation for the Union College patch panels.
    .mdl-card__actions
      a.mdl-button.mdl-js-button.mdl-button--primary(href='misc/drives') Details
