extends layout.jade

block content
  .card.card__switches.mdl-card.mdl-shadow--4dp
    .mdl-card__title
      h2.mdl-card__title-text Switches
    .mdl-card__supporting-text
      | Documentation for the Union College switches.
    .mdl-card__actions
      a.mdl-button.mdl-js-button.mdl-button--primary(href='network/switch') Details
  .card.card__patchpanels.mdl-card.mdl-shadow--4dp
    .mdl-card__title
      h2.mdl-card__title-text Patch Panels
    .mdl-card__supporting-text
      | Documentation for the Union College patch panels.
    .mdl-card__actions
      a.mdl-button.mdl-js-button.mdl-button--primary(href='network/patch') Details
  .card.card__servers.mdl-card.mdl-shadow--4dp
    .mdl-card__title
      h2.mdl-card__title-text Servers
    .mdl-card__supporting-text
      | Documentation for the Union College servers.
    .mdl-card__actions
      a.mdl-button.mdl-js-button.mdl-button--primary(href='network/server') Details
  .card.card__waps.mdl-card.mdl-shadow--4dp
    .mdl-card__title
      h2.mdl-card__title-text Wireless Access Points
    .mdl-card__supporting-text
      | Documentation for the Union College wireless access points.
    .mdl-card__actions
      a.mdl-button.mdl-js-button.mdl-button--primary(href='network/aps') Details
