extends layout.jade

block content
  table.mdl-data-table.mdl-js-data-table
    thead
      tr
        th Arial
        th Location
        th Description
    tbody
      tr
        td 5
        td DB503
        td Cool phone in the office
