.page-content {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.card {
	margin: 8px;
	min-height: 0;
  width: 350px;
}
.card__table {
	width: 900px;
}
.card__table table {
	width: 100%;
}
.card__error > .mdl-card__title {
	color: #fff;
	background: rgb(244, 67, 54);
}
.card__table > .mdl-card__title {
	color: #fff;
	background: #448AFF;
}
.card__switches > .mdl-card__title {
	color: #fff;
	background: #448AFF;
}
.card__patchpanels > .mdl-card__title {
	color: #fff;
	background: #448AFF;
}
.card__servers > .mdl-card__title {
	color: #fff;
	background: #448AFF;
}
.card__waps > .mdl-card__title {
	color: #fff;
	background: #448AFF;
}
.card__misc > .mdl-card__title {
	color: #fff;
	background: #448AFF;
}
.mdl-card__menu button,
.mdl-card__menu a {
	color: white;
}
.patch__data-title-pair {
	flex-basis: 20%;
	display: flex;
	justify-content: space-between;
	padding-right: 10px;
	padding-left: 10px;
}
.patch__data-title-item {
	font-weight: bold;
}
.patch__data-content,
.misc__alpha-content,
.misc__vlan-content,
.building__code-content {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.patch__data-content-pair,
.misc__alpha-content-pair,
.misc__vlan-content-pair,
.building__code-content-pair {
	flex-basis: 20%;
	display: flex;
	justify-content: space-between;
	padding-right: 10px;
	padding-left: 10px;
}
.patch__data-content-pair:last-child,
.misc__vlan-content-pair:last-child {
	margin-left: auto;
}
.misc__ul {
  padding: 0;
  margin: 0;
}
.misc__groupul, .misc__mapul {
  list-style-type: none;
  list-style-position: outside;
}
.misc__vlan-content-pair,
.building__code-content-pair {
  flex-basis: 40%;
}
.misc__alpha-content-pair {
  flex-basis: 40%;
}
.mdl-menu__item a {
	text-decoration: none;
}
.patch__add-form,
.aps__add-form {
	display: flex;
	flex-wrap: wrap;
}
.patch__buttons,
.aps__buttons {
	display: flex;
	justify-content: space-around;
}
.custom__table {
	width: auto;
}
.custom__table-left {
	text-align: left;
}
.custom__table-right {
	text-align: right;
}
.custom__table-center {
	text-align: center;
}
.fa-gear {
	margin-top: 4px;
	margin-left: 1px;
}
.fa-pencil-square-o {
	margin-top: 4px;
	margin-left: 2px;
}
.fa-sm {
	font-size: .8em;
}

.card2 {
	margin: 8px;
}
.card2.mdl-card {
  width: 256px;
  height: 128px;
  background: #448AFF;
}
.card2 > .mdl-card__actions {
  border-color: rgba(255, 255, 255, 0.2);
}
.card2 > .mdl-card__title {
  align-items: flex-start;
}
.card2 > .mdl-card__title > h4 {
  margin-top: 0;
}
.card2 > .mdl-card__actions {
  display: flex;
  box-sizing:border-box;
  align-items: center;
}
.card2 > .mdl-card__actions > .material-icons {
  padding-right: 10px;
}
.card2 > .mdl-card__title,
.card2 > .mdl-card__actions,
.card2 > .mdl-card__actions > .mdl-button {
  color: #fff;
}
.nav-icons {
	margin-top: 12px;
}
