.demo-layout-waterfall .mdl-layout__header-row .mdl-navigation__link:last-of-type  {
  padding-right: 0;
}
.page-content {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.card {
  margin: 8px;
  min-height: 0;
}

.card__table {
  width: 900px;
}

.card__table table {
  width: 100%;
}

.card__table > .mdl-card__supporting-text {
  width: auto;
}

.card__table > .mdl-card__title {
  color: #fff;
  background: #448AFF;
}

.card__switches > .mdl-card__title {
  color: #fff;
  background: #448AFF;
}
.card__patchpanels > .mdl-card__title {
  color: #fff;
  background: #448AFF;
}
.card__servers > .mdl-card__title {
  color: #fff;
  background: #448AFF;
}
.card__waps > .mdl-card__title {
  color: #fff;
  background: #448AFF;
}

.patch__data-title {
  display: flex;
  justify-content: space-between;
}
.patch__data-title-text {
  font-weight: 700;
  flex-basis: 12%;
}
.patch__data-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.patch__data-content-text {
  flex-basis: 12%;
}
