extends ../layout.jade

block content
  .card.card__switches.mdl-card.mdl-shadow--4dp
    .mdl-card__title
      h2.mdl-card__title-text Network Drive Map
    .mdl-card__supporting-text
      p A - E: local
      p F: \\marcie\public
      p F: \\woodstock\netapps
      p H: \\woodstock\home directories
      p M: \\woodstock\microlab share
      p N: \\woodstock\netapps
      p O: \\franklin\data P: \\woodstock\public
      p Q: \\marcie\public
      p Q: Private Data Folder on APSAAPS
      p R: \\marcie\publicrw
      p S: \\charlie\data
      p W: \\marcie\username$
      p X: \\marcie\fileswap
      p Z: \\zip-drive backup
