extends ../layout.jade

block content
  .card.mdl-card
    table.mdl-data-table.mdl-js-data-table
      thead
        tr
          th Port
          th Location
          th Port
          th Location
          th Port
          th Location
          th Port
          th Location
      tbody
        tr
          td
          td
          td
          td
          td
          td
          td
          td
        tr
          td
          td
          td
          td
          td
          td
          td
          td
