extends ../layout.jade

block content
  table.mdl-data-table.mdl-js-data-table
    thead
      tr
        th Switch
        th.mdl-data-table__cell--non-numeric Port
        th.mdl-data-table__cell--non-numeric Location
    tbody
      tr
        td 102
        td.mdl-data-table__cell--non-numeric a44
        td.mdl-data-table__cell--non-numeric DB503-42
