extends ../layout.jade

block content
  table.mdl-data-table.mdl-js-data-table
    thead
      tr
        th.mdl-data-table__cell--non-numeric Name
        th.mdl-data-table__cell--non-numeric MAC
        th.mdl-data-table__cell--non-numeric Switch
    tbody
      tr
        td.mdl-data-table__cell--non-numeric Cool name goes here
        td.mdl-data-table__cell--non-numeric 0001ab12
        td.mdl-data-table__cell--non-numeric 102/a44
